# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================

django
django-hvad
django-cms
django-filer
